@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
/* header option start */
header{
  width: 1321px;
  height: 646px;
  background-color: #161616;
  border-radius: 30px;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-banner{
  display: flex;
  align-items: center;
}
.banner-text{
  width: 50%;
  color: white;
  margin: 111px 12px 111px 106px;
}
.banner-img{
  width: 50%;
  margin: 33px 79px 0 12px;
}
.banner-img img{
  width: 100%;
  margin-bottom: -32px;
}
.banner-title{
  font-size: 4.6em;
  line-height: 70px;
}
.banner-ellipsis{
  margin-top: 20px;
}
.banner-button{
  text-align: center;
  margin-top: 30px;
  width: 167px;
  height: 56px;
  background-color: #DD0000;
  padding: 16px 25px;
  border-radius: 5px;
}
.banner-button a{
  text-decoration: none;
  color: white;
}
.fa-angle-right{
  margin: 5px 16px 16px 10px;
}
/* header option end */

/* blog start */

.container{
  width: 1331px;
  min-height: 646px;
  margin: 120px auto 0px auto;
}
.blog-column{
  display: grid;
  grid-template-columns: repeat(2, 1fr 3fr);
  gap: 24px;
  margin-bottom: 24px;
}
.blog{
  width: 312px;
  height: 242px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}
.upcoming-match{
  margin: 53px 30px 53px 30px;
}
.match-flag{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-1{
  margin: 0 10px;
}
.flag-2{
  margin: 0 10px;
}
.match-info{
  text-align: center;
  margin-top: -20px;
}
.match-info h4{
  margin-bottom: 10px;
}
.tablet-button{
  display: none;
  justify-content: center;
  align-items: center;
}
.t-button{
  width: 131px;
  height: 47px;
  background-color: #DD0000;
  text-align: center;
  padding: 12px 29px;
  border-radius: 5px;
  
}
.t-button a{
  color: white;
  text-decoration: none;
 
}
.side-menu{
  background-color: #161616;
  width: 312px;
  height: 312px;
  border-radius: 10px;
}
.menu{
  margin: 30px;
}
.menu a{
  text-decoration: none;
  color: black;
}
.menu a:hover{
  background-color: #DD0000;
  border-radius: 10px;
  color: white;
  padding: 10px;
}
.menu-button-1 a{
   width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #FFFFFF;
  background-color: #DD0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button-2 a{
  width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

}
.menu-button-3 a{
    width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menu-button-3 a{
  color: black;
  text-decoration: none;
}
/* blog end */


/* footer start*/
footer{
  width: 100vw;
  height: 50vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-1{
  color: white;
}
.footer-title{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1em;
  line-height: 60px;
}
hr{
  color: #FFFFFF;
  width: 1320px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-menu, li{
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  list-style: none; 
}
.Quick-link{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.link{
  margin-right: -5px;
}
.fa-linkedin, .fa-facebook{
  color: white;
}
.fa-youtube{
  color: white;
}
/* footer */


/*responsive mobile device */
@media screen and (max-width: 576px){

  /*------------------
      header start
  --------------------*/

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  header{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  .banner-text{
    align-items: center;
  }
  .banner-title{
    font-size: 2.2em;
    line-height: 42px;
  }
  .banner-img{
    width: 100%;
  }
  .banner-img img{
    width: 100%;
    margin: 30px 30px 0px 0px;
  }
   .top-banner{
    display: grid;
    flex-direction: column;
    text-align: center;
  }
  .banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 22%;

  }

  .banner-ellipsis{
    width: 250px;
    height: 48px;
    overflow: hidden;
    text-align: center;
    padding: 15px 10px 15px 15px;
  }
  .ellipsis{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*------------------
      header end
  --------------------*/



  /*--------------
      blog start
  -------------- */
    .container{
      width: 100%;
      height: 100%;
    }
    .blog-column{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      justify-items: center;
      flex-direction: column;
    }
    .blog-column-2{
      padding: 0;
    }
    .blog-images{
      width: 100%;
    }
    .blog{
      margin-left: 0px;
    }
    .side-menu{
      background-color: white;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      justify-items: center;
      align-items: center;
      margin-top: -120px;
    }
    .menu-button-1{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-button-1 a{
      width: 210px;
      height: 48px;
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
    }
    .menu-button-2{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-button-2 a{
      width: 160px;
      height: 48px;
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
    }
      .menu-button-3{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-button-3 a{
      width: 160px;
      height: 48px;
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
    }
    /*--------------
      blog end
  -------------- */

  /* footer start */
  footer{
    width: 100%;
    height: 90%;
  }
  .footer-menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    row-gap: 30px;
    font-size: 1.4em;
  }
  .footer-title{
    min-width: 325px;
  }

.fa-linkedin, .fa-facebook{
  color: rgb(10 102 194);
}
.Quick-link{
margin-right: 20px;
font-size: 1.5em;
}
.fa-youtube{
  color: rgb(255 0 0);
}
  /* footer start */

}

/* responsive tablate device start */
@media screen and (min-width: 577px) and (max-width: 992px){
    html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
 header{
  width: 100%;
  height: 50%;
  background-color: #161616;
  border-radius: 30px;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  width: 100%;
}
.banner-text{
  width: 50%;
}
.banner-img{
  width: 75%;
  margin: 33px 79px 0 12px;
}
.banner-img img{
  width: 100%;
  margin-bottom: -32px;
}
.banner-title{
  font-size: 2.6em;
  line-height: 50px;
}
    .blog-column{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }
    .blog-column-2{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .blog-images{
      width: 100%;
    }
    .blog{
      margin-left: 0px;
    }
    .side-menu{
      background-color: white;
    }
    .menu{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.4em;
    }
    .menu-button-1 a{
  width: 230px;
  height: 64px;
  margin: 0px 22px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #DD0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button-2 a{
  width: 230px;
  height: 64px;
  margin: 0px 22px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

}
.menu-button-3 a{
  width: 230px;
  height: 64px;
  margin: 0px 22px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
    .tablet-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.t-button{
  width: 131px;
  height: 47px;
  background-color: #DD0000;
  text-align: center;
  padding: 12px 29px;
  border-radius: 5px;
  
}
.t-button a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
 
}
.footer-menu{
 width: 100%;
 height: 100%;
}
}
/* responsive tablate device start */