@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header option start */
header{
  background-color: #161616;
  width: 1331px;
  height: 646px;
  margin: 50px auto;
  border-radius: 30px;
}
.top-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title{
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  line-height: 80px;
}
.banner-text p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
}
.banner-text{
  width: 531px;
  height: 424px;
  color: white;
  margin: 111px 0 111px 106px;
}
.banner-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DD0000;
  width: 187px;
  height: 56px;
  border-radius: 5px;
  padding: 16px, 25px, 16px, 25px;
  margin-top: 25px;
}
.banner-button a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.fa-angle-right{
  padding: 17px 25px 16px 20px;
}
.banner-img img{
  width: 581px;
  height: 613px;
  background-size: cover;
  margin: 33px 79px 0 24px;
}
/* header option end */

/* blog start */

.container{
  width: 1331px;
  height: 646px;
  margin: 50px auto;
  margin-top: 130px;
}
.blog{
  width: 312px;
  height: 362px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;

}
.blog-images img{
  width: 312px;
  height: 175px;

}
.blog h4{
  width: 100px;
  height: 32px;
  border: 1px solid #161616;
  text-align: center;
  border-radius: 5px;
  line-height: 24px;
  margin: 20px 192px 15px 20px;
  padding: 2px;
}
.blog p{
  margin: 0 20px;
}
.blog-icon{
  margin: 20px 149px 20px 20px;
  display: flex;

}
.blog-icon img{
  width: 24px;
  height: 24px;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-space{
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

/* blog end */