@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
/* header option start */
header{
  background-color: #161616;
  width: 86%;
  height: 40%;
  margin: 50px auto;
  border-radius: 30px;
}
.top-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title{
  font-family: 'Poppins', sans-serif;
  font-size: 4.375em;
  line-height: 80px;
}
.banner-text p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
}
.banner-text{
  /* width: 531px;
  height: 424px; */
  color: white;
  margin: 111px 0 111px 106px;
}
.banner-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DD0000;
  width: 187px;
  height: 56px;
  border-radius: 5px;
  padding: 16px, 25px, 16px, 25px;
  margin-top: 25px;
}
.banner-button a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.fa-angle-right{
  padding: 17px 25px 16px 20px;
}
.banner-img img{
  width: 38vw;
  height: 88vh;
  background-size: cover;
  margin: 33px 79px 0 24px;
}
/* header option end */

/* blog start */

.container{
  width: 1331px;
  min-height: 646px;
  margin: 50px auto;
  margin-top: 130px;
}
.blog{
  width: 312px;
  height: 362px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;

}
.blog-images img{
  width: 312px;
  height: 175px;

}
.blog h4{
  width: 100px;
  height: 32px;
  border: 1px solid #161616;
  text-align: center;
  border-radius: 5px;
  line-height: 24px;
  margin: 20px 192px 15px 20px;
  padding: 2px;
}
.blog p{
  margin: 0 20px;
}
.blog-icon{
  margin: 20px 149px 20px 20px;
  display: flex;

}
.blog-icon img{
  width: 24px;
  height: 24px;
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-space{
  margin-left: 10px;
  width: 26px;
  height: 26px;
}
.side-menu{
  background-color: #161616;
  width: 312px;
  height: 312px;
  border-radius: 10px;
}
.menu{
  margin: 30px;
}
.menu-button{
  width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;

}
.menu-button-3{
  width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
  background-color: #DD0000;
  
}
.blog-column{
  display: grid;
  grid-template-columns: repeat(2, 1fr 3fr)
}
.blog{
  margin-left: 24px;
  margin-bottom: 24px;
}
/* blog end */


/* footer */
footer{
  width: 100vw;
  height: 50vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-1{
  color: white;
}
.footer-title{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1em;
  line-height: 60px;
}
hr{
  color: #FFFFFF;
  width: 1320px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-menu, li{
  display: flex;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  list-style: none; 
}
.Quick-link{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.link{
  margin-right: -5px;
}
/* footer */